.Container {
  position : fixed;

  background-color : var(--theme-background);

  top    : 0;
  bottom : 0;
  left   : 0;
  right  : 0;
  width  : 100vw;
  height : 100vh;

  display       : grid;
  align-items   : center;
  justify-content : center;
}